@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes slide-left {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .slide-left {
    animation: slide-left 0.1s ease-out forwards;
  }
  